.icon-newspage {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 1px 0 0 17px;
	background-image: url("./images/icon_news.gif");
}

.rtl .icon-newspage {
	background-position: 100% 50%;
	padding: 1px 17px 0 0;
}

div.news-block {
	background: #EBEBEB;
}

div.news-block h3 {
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 0;
	color: #28313F;
	font-weight: bold;
}

div.news-block li {
	list-style-type: none;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

div.news-block li:last-child {
	border-bottom: none;
}

div.newspage-block {
	width: 20%;
	float: right;
}

.rtl div.newspage-block {
	float: left;
}

div.newspage-news {
	width: 79%;
	float: left;
}

.rtl div.newspage-news {
	float: right;
}

@media only screen and (max-width: 950px), only screen and (max-device-width: 950px) {
	div.newspage-block {
		width: 100%;
		float: none;
		display: block;
	}

	div.newspage-news {
		width: 100%;
		float: none;
		display: block;
	}
}
