<!-- IF U_SETTING_ACTION -->
<div class="dropdown-container dropdown-button-control topic-tools">
	<span title="{L_SETTINGS}" class="button icon-button tools-icon dropdown-trigger dropdown-select"></span>
	<div id="newspage_settings" class="dropdown dropdown-extended hidden">
		<div class="pointer"><div class="pointer-inner"></div></div>
		<div class="dropdown-contents">
			<div class="header">{L_SETTINGS}</div>

			<form method="post" action="{U_SETTING_ACTION}" data-ajax="true" data-refresh="true">
				<fieldset class="fields1">
					<ul>
						<li>
							<label for="news_forums"><strong>{L_NEWS_FORUMS}{L_COLON}</strong></label><br />
							<select class="inputbox" id="news_forums" name="news_forums[]" multiple="multiple">{SETTING_NEWS_FORUMS}</select>
						</li>
						<li>
							<dl>
								<dt><label for="news_number">{L_NEWS_NUMBER}{L_COLON}</label></dt>
								<dd><input type="text" class="inputbox" id="news_number" name="news_number" size="6" value="{SETTING_NEWS_NUMBER}" /></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt><label for="news_pages">{L_NEWS_PAGES}{L_COLON}</label></dt>
								<dd><input type="number" class="inputbox" id="news_pages" name="news_pages" size="6" value="{SETTING_NEWS_PAGES}" /></dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>
									<label for="news_char_limit">{L_NEWS_CHAR_LIMIT}{L_COLON}</label>
									<br />
									<em>{L_NEWS_CHAR_LIMIT_EXPLAIN}</em>
								</dt>
								<dd><input type="number" class="inputbox" id="news_char_limit" name="news_char_limit" size="10" value="{SETTING_NEWS_CHAR_LIMIT}" /></dd>
							</dl>
						</li>
						<li>
							<input type="checkbox" class="checkbox" id="news_cat_show" name="news_cat_show" value="1" <!-- IF SETTING_NEWS_CAT_SHOW -->checked="checked"<!-- ENDIF -->/>
							<label for="news_cat_show"><strong>{L_NEWS_CAT_SHOW}</strong></label>
						</li>
						<li>
							<input type="checkbox" class="checkbox" id="news_archive_show" name="news_archive_show" value="1" <!-- IF SETTING_NEWS_ARCHIVE_SHOW -->checked="checked"<!-- ENDIF -->/>
							<label for="news_archive_show"><strong>{L_NEWS_ARCHIVE_SHOW}</strong></label>
						</li>
						<li>
							<input type="checkbox" class="checkbox" id="news_shadow_show" name="news_shadow_show" value="1" <!-- IF SETTING_NEWS_SHADOW_SHOW -->checked="checked"<!-- ENDIF -->/>
							<label for="news_shadow_show"><strong>{L_NEWS_SHADOW_SHOW}</strong></label>
						</li>
						<li>
							<input type="checkbox" class="checkbox" id="news_user_info" name="news_user_info" value="1" <!-- IF SETTING_NEWS_USER_INFO -->checked="checked"<!-- ENDIF -->/>
							<label for="news_user_info"><strong>{L_NEWS_USER_INFO}</strong></label><br /><em>{L_NEWS_USER_INFO_EXPLAIN}</em>
						</li>
						<li>
							<input type="checkbox" class="checkbox" id="news_post_buttons" name="news_post_buttons" value="1" <!-- IF SETTING_NEWS_POST_BUTTONS -->checked="checked"<!-- ENDIF -->/>
							<label for="news_post_buttons"><strong>{L_NEWS_POST_BUTTONS}</strong></label><br /><em>{L_NEWS_POST_BUTTONS_EXPLAIN}</em>
						</li>
						<li>
							<input type="checkbox" class="checkbox" id="news_attach_show" name="news_attach_show" value="1" <!-- IF SETTING_NEWS_ATTACH_SHOW -->checked="checked"<!-- ENDIF -->/>
							<label for="news_attach_show"><strong>{L_NEWS_ATTACH_SHOW}</strong></label><br /><em>{L_NEWS_ATTACH_SHOW_EXPLAIN}</em>
						</li>
						</ul>
				</fieldset>

				<div class="footer">
					<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
					<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
					{S_FORM_TOKEN}
				</div>
			</form>
		</div>
	</div>
</div>
<!-- ENDIF -->
