<!-- INCLUDE overall_header.html -->
<table style="width: 100%;">
	<tr>
		<td valign="top">
<div id="pageheader">
	<h2><!-- IF NEWS_ONLY --><a href="{postrow.U_NEWS}">{NEWS_TITLE}</a><!-- ELSE -->{L_NEWS}<!-- ENDIF --></h2>
</div>
<br clear="all" /><br />
<div id="pagecontent">

	<table width="100%" cellspacing="1">
	<tr>
		<!-- IF TOTAL_NEWS -->
			<td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br /></td>
			<td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_NEWS} ]&nbsp;</td>
			<td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap"><!-- INCLUDE pagination.html --></td>
		<!-- ENDIF -->
	</tr>
	</table>

<!-- BEGIN postrow -->
	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th colspan="<!-- IF NEWS_USER_INFO -->2<!-- ELSE -->1<!-- ENDIF -->"><a href="{postrow.U_NEWS}">{postrow.POST_SUBJECT}</a></th>
		</tr>
	<!-- IF postrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

	<!-- IF postrow.S_IGNORE_POST -->
			<td class="gensmall" colspan="2" height="25" align="center"><!-- IF postrow.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{postrow.POST_ID}"></a>{postrow.L_IGNORE_POST}</td>
	<!-- ELSE -->

			<!-- IF NEWS_USER_INFO -->
			<td align="center" valign="middle">
				<!-- IF postrow.S_FIRST_UNREAD --><a name="unread"></a><!-- ENDIF --><a name="p{postrow.POST_ID}"></a>{postrow.POST_AUTHOR_FULL}
			</td>
			<!-- ENDIF -->
			<td width="100%" height="25">
				<table width="100%" cellspacing="0">
				<tr>
				<!-- IF not NEWS_USER_INFO --><td align="left">{postrow.POST_AUTHOR_FULL}</td><!-- ENDIF -->
				<!-- IF postrow.POST_ICON_IMG -->
					<td><img src="{T_ICONS_PATH}{postrow.POST_ICON_IMG}" width="{postrow.POST_ICON_IMG_WIDTH}" height="{postrow.POST_ICON_IMG_HEIGHT}" alt="" title="" /></td>
				<!-- ENDIF -->
					<td class="gensmall" width="100%"><div style="float: {S_CONTENT_FLOW_END};"><!-- IF S_IS_BOT -->{postrow.MINI_POST_IMG}<!-- ELSE --><a href="{postrow.U_MINI_POST}">{postrow.MINI_POST_IMG}</a><!-- ENDIF --><b>{L_POSTED}:</b> {postrow.POST_DATE}&nbsp;</div></td>
				</tr>
				</table>
			</td>
		</tr>

		<!-- IF postrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

		<!-- IF NEWS_USER_INFO -->
			<td valign="top" class="profile">
				<table cellspacing="4" align="center" width="150">
			<!-- IF postrow.ONLINE_IMG -->
				<tr>
					<td>{postrow.ONLINE_IMG}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF postrow.RANK_TITLE -->
				<tr>
					<td class="postdetails">{postrow.RANK_TITLE}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF postrow.RANK_IMG -->
				<tr>
					<td>{postrow.RANK_IMG}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF postrow.POSTER_AVATAR -->
				<tr>
					<td>{postrow.POSTER_AVATAR}</td>
				</tr>
			<!-- ENDIF -->
				</table>

				<span class="postdetails">
					<!-- IF postrow.POSTER_JOINED --><br /><b>{L_JOINED}:</b> {postrow.POSTER_JOINED}<!-- ENDIF -->
					<!-- IF postrow.POSTER_POSTS != '' --><br /><b>{L_POSTS}:</b> {postrow.POSTER_POSTS}<!-- ENDIF -->
					<!-- IF postrow.POSTER_FROM --><br /><b>{L_LOCATION}:</b> {postrow.POSTER_FROM}<!-- ENDIF -->

					<!-- IF postrow.S_PROFILE_FIELD1 -->
						<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
						<br /><b>{postrow.PROFILE_FIELD1_NAME}:</b> {postrow.PROFILE_FIELD1_VALUE}
					<!-- ENDIF -->

					<!-- BEGIN custom_fields -->
						<br /><b>{postrow.custom_fields.PROFILE_FIELD_NAME}:</b> {postrow.custom_fields.PROFILE_FIELD_VALUE}
					<!-- END custom_fields -->
				</span>

			</td>
		<!-- ENDIF -->
			<td valign="top">
				<table width="100%" cellspacing="5">
				<tr>
					<td>
					<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
						<table width="100%" cellspacing="0">
						<tr>
							<td class="gensmall"><!-- IF postrow.S_POST_UNAPPROVED --><span class="postapprove">{UNAPPROVED_IMG} <a href="{postrow.U_MCP_APPROVE}">{L_POST_UNAPPROVED}</a></span> <!-- ENDIF --> <!-- IF postrow.S_POST_REPORTED --><span class="postreported">{REPORTED_IMG} <a href="{postrow.U_MCP_REPORT}">{L_POST_REPORTED}</a></span><!-- ENDIF --></td>
						</tr>
						</table>

						<br clear="all" />
					<!-- ENDIF -->

						<div class="postbody">{postrow.MESSAGE}</div>

					<!-- IF postrow.S_HAS_ATTACHMENTS and not postrow.S_DISPLAY_NOTICE -->
						<br clear="all" /><br />

						<table class="tablebg" width="100%" cellspacing="1">
						<tr>
							<td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td>
						</tr>
						<!-- BEGIN attachment -->
							<tr>
								<!-- IF postrow.attachment.S_ROW_COUNT is even --><td class="row2"><!-- ELSE --><td class="row1"><!-- ENDIF -->{postrow.attachment.DISPLAY_ATTACHMENT}</td>
							</tr>
						<!-- END attachment -->
						</table>
					<!-- ENDIF -->

					<!-- IF postrow.S_DISPLAY_NOTICE -->
						<span class="gensmall error"><br /><br />{L_DOWNLOAD_NOTICE}</span>
					<!-- ENDIF -->
					<!-- IF postrow.SIGNATURE and NEWS_USER_INFO -->
						<span class="postbody"><br />_________________<br />{postrow.SIGNATURE}</span>
					<!-- ENDIF -->

					<!-- IF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
						<!-- IF postrow.EDIT_REASON -->
							<br /><br />
							<table class="tablebg" width="100%" cellspacing="1">
							<tr>
								<td class="row3"><span class="gensmall">{postrow.EDITED_MESSAGE}</span></td>
							</tr>
							<tr>
								<td class="row2"><span class="genmed">{postrow.EDIT_REASON}</span></td>
							</tr>
							</table>
						<!-- ELSE -->
							<br /><br />
							<span class="gensmall">{postrow.EDITED_MESSAGE}</span>
						<!-- ENDIF -->
					<!-- ENDIF -->
							<!-- IF not NEWS_ONLY --><br /><br />
							<table class="tablebg" width="100%" cellspacing="1">
							<!-- IF postrow.S_ROW_COUNT is not even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
								<td><span class="genmed">
								<!-- IF postrow.S_HAS_POLL -->
									{L_NEWS_POLL}: <strong>{postrow.POLL_QUESTION}</strong> &raquo; <a href="{postrow.U_MINI_POST}">{L_NEWS_POLL_GOTO}</a><br /><br />
								<!-- ENDIF -->
									<strong>{L_NEWS_READ_FULL}:</strong> <em><a href="{postrow.U_NEWS}">{L_NEWS_READ_HERE}</a></em><br />
									<strong>{L_NEWS_GO_TO_TOPIC}:</strong> <em><a href="{postrow.U_MINI_POST}">{postrow.POST_SUBJECT}</a></em><br />
									<strong>{L_NEWS_COMMENTS}:</strong> <em>{postrow.NEWS_COMMENTS}</em>
								</span></td>
							</tr>
							</table><!-- ENDIF -->

					<!-- IF postrow.BUMPED_MESSAGE -->
						<span class="gensmall">{postrow.BUMPED_MESSAGE}</span>
					<!-- ENDIF -->

					<!-- IF not postrow.S_HAS_ATTACHMENTS --><br clear="all" /><br /><!-- ENDIF -->

						<table width="100%" cellspacing="0">
						<tr valign="middle">
							<td class="gensmall" align="{S_CONTENT_FLOW_END}">
							<!-- IF not S_IS_BOT and NEWS_POST_BUTTONS -->
								<!-- IF postrow.U_REPORT --><a href="{postrow.U_REPORT}">{REPORT_IMG}</a> <!-- ENDIF -->
								<!-- IF postrow.U_INFO --><a href="{postrow.U_INFO}">{INFO_IMG}</a> <!-- ENDIF -->
								<!-- IF postrow.U_WARN --><a href="{postrow.U_WARN}">{WARN_IMG}</a> <!-- ENDIF -->
								<!-- IF postrow.U_DELETE --><a href="{postrow.U_DELETE}">{DELETE_IMG}</a> <!-- ENDIF -->
							<!-- ENDIF -->
							</td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
		</tr>

		<!-- IF postrow.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

		<!-- IF not NEWS_USER_INFO -->
			<td class="profile">
				<table width="100%">
				<tr>
					<td class="profile"><strong><a href="#wrapheader">{L_BACK_TO_TOP}</a></strong></td>
					<td style="float: right;"><!-- IF not S_IS_BOT and NEWS_POST_BUTTONS --><!-- IF postrow.U_EDIT --><a href="{postrow.U_EDIT}">{EDIT_IMG}</a> <!-- ENDIF --> <!-- IF postrow.U_QUOTE --><a href="{postrow.U_QUOTE}">{QUOTE_IMG}</a> <!-- ENDIF --><!-- ENDIF --></td>
				</tr>
				</table>
		<!-- ELSE -->
			<td class="profile"><strong><a href="#wrapheader">{L_BACK_TO_TOP}</a></strong></td>
			<td><div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};">&nbsp;<!-- IF postrow.U_PROFILE --><a href="{postrow.U_PROFILE}">{PROFILE_IMG}</a> <!-- ENDIF --> <!-- IF postrow.U_PM --><a href="{postrow.U_PM}">{PM_IMG}</a> <!-- ENDIF --> <!-- IF postrow.U_EMAIL --><a href="{postrow.U_EMAIL}">{EMAIL_IMG}</a> <!-- ENDIF -->&nbsp;</div> <div class="gensmall" style="float: {S_CONTENT_FLOW_END};"><!-- IF not S_IS_BOT and NEWS_POST_BUTTONS --><!-- IF postrow.U_EDIT --><a href="{postrow.U_EDIT}">{EDIT_IMG}</a> <!-- ENDIF --> <!-- IF postrow.U_QUOTE --><a href="{postrow.U_QUOTE}">{QUOTE_IMG}</a> <!-- ENDIF --> <!-- ENDIF -->&nbsp;</div></td>
		<!-- ENDIF -->
		</tr>

	<!-- ENDIF -->
	<tr>
		<td class="spacer" colspan="2" height="1"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
	</tr>
	</table><br />
<!-- END postrow -->
</div></td>
		<td style="width: 20%;" valign="top">
<div id="pageheader">
	<h2>{L_NEWS_ARCHIVE}</h2>
</div><br clear="all" /><br />
		<!-- IF .cat_block -->
		<table class="tablebg" width="100%" cellspacing="1">
			<tr>
				<th>{L_NEWS_CAT}</th>
			</tr>
			<!-- BEGIN cat_block -->
			<tr>
				<td class="row1">
					<a class="left news-archive" href="{cat_block.U_NEWS_CAT}" style="font-weight: bold;">{cat_block.NEWS_CAT}</a>
				</td>
			</tr>
			<!-- END cat_block -->
		</table>
		<br />
		<!-- ENDIF -->
		<!-- BEGIN archive_block --><!-- IF not archive_block.S_FIRST_ROW --><br /><!-- ENDIF -->
	<table class="tablebg" width="100%" cellspacing="1">
		<tr>
			<th>{L_NEWS_ARCHIVE} {archive_block.NEWS_YEAR}</th>
		</tr>
		<!-- BEGIN archive_row -->
		<tr>
			<td class="row1">
				<a class="left news-archive" href="{archive_block.archive_row.U_NEWS_MONTH}" style="font-weight: bold;">{archive_block.archive_row.NEWS_MONTH}</a>
			</td>
		</tr>
		<!-- END archive_row -->
	</table>
		<!-- END archive_block -->
	</td>
	</tr>
</table>

<div id="pagefooter"></div>

<br clear="all" />
<!-- INCLUDE overall_footer.html -->